<nav class="py-4 px-4 mx-auto">
  <div class="flex flex-col items-center md:flex-row justify-between">
    <div class="flex flex-row pt-2">
      <a routerLink="/">
        <div class={{logoWrapper1}}>
          <img priority class="w-[50px] h-auto rounded-md md:ml-8 transition hover:scale-105" ngSrc="/assets/img_other/jrose_200.png" width="200" height="200" alt="JRose logo" (load)="fadeIn(1)">
        </div>
      </a>
      <div class="mx-4">
        <div class={{logoWrapper2}}>
          <img priority class="w-[200px] h-auto" ngSrc="/assets/img_other/jrose_words_red.png" width="400" height="125" alt="JRose logo" (load)="fadeIn(2)">
        </div>
      </div>
    </div>
    <div class="flex space-x-10 pr-2 sm:pr-4 md:pr-8">
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl" routerLink="/portfolio">Portfolio</a> -->
      <a class="transition hover:scale-110 hover:text-red-500 " routerLink="/portfolio">Portfolio</a>
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl" routerLink="/blog">Blog</a> -->
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl pr-2 sm:pr-4 md:pr-5" routerLink="/about">About</a> -->
      <a class="transition hover:scale-110 hover:text-red-500 " routerLink="/about">About</a>
    </div>
  </div>
</nav>