<!-- <h1 class="text-3xl font-bold text-center">
  HEADER/NAV
</h1> -->
<nav class="py-4 px-4 mx-auto">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <a routerLink="/">
        <img class="w-[60px] md:w-[80px] sm:w-[70px] h-auto rounded-md transition hover:scale-105" src="/assets/img_other/jrose_200.png" alt="JRose logo">
      </a>
    </div>
    <div class="flex space-x-10">
      <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl" routerLink="/portfolio">Portfolio</a>
      <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl pr-2 sm:pr-4 md:pr-5" routerLink="/about">About</a>
    </div>
  </div>
</nav>