<nav class="py-4 px-4 mx-auto">
  <div class="flex flex-col items-center md:flex-row justify-between">
    <div class="flex flex-row pt-2">
      <a routerLink="/">
        <!-- <img class="w-[72px] md:w-[80px] h-auto rounded-md transition hover:scale-105" src="/assets/img_other/jrose_200.png" alt="JRose logo"> -->
        <img class="w-[72px] h-auto rounded-md md:ml-8 transition hover:scale-105" src="/assets/img_other/jrose_200.png" alt="JRose logo">
      </a>
      <div class="mx-4">
        <!-- <img class="w-[320px] md:w-[352px] h-auto" src="/assets/img_other/jrose_words_red.png" alt="JRose logo"> -->
        <img class="w-[320px] h-auto" src="/assets/img_other/jrose_words_red.png" alt="JRose logo">
      </div>
    </div>
    <div class="flex space-x-10 pr-2 sm:pr-4 md:pr-8">
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl" routerLink="/portfolio">Portfolio</a> -->
      <a class="transition hover:scale-110 hover:text-red-500 text-xl" routerLink="/portfolio">Portfolio</a>
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl" routerLink="/blog">Blog</a> -->
      <!-- <a class="transition hover:scale-110 hover:text-red-500 text-xl md:text-2xl pr-2 sm:pr-4 md:pr-5" routerLink="/about">About</a> -->
      <a class="transition hover:scale-110 hover:text-red-500 text-xl" routerLink="/about">About</a>
    </div>
  </div>
</nav>