<!-- <footer class="bg-custombg absolute inset-x-0 bottom-0 ">
  <div class="text-center p-2">
    <p class="text-gray-400 text-sm font-light">&copy; {{currentYear}} JRose Photography, All Rights Reserved</p>
  </div>
</footer> -->

<footer class="bg-custombg text-white">
  <div class="container flex flex-col-reverse justify-between lg:px-36 px-6 py-12 mx-auto space-y-8 md:flex-row md:space-y-0">
    <div class="flex flex-col justify-between space-y-8 md:space-y-0 items-center md:items-end">
      <div class="hidden md:block">
        <img class=" mt-12 md:mt-0 h-32" src="/assets/img_other/jrosefull_200.png" alt="JRose logo">
      </div>
      <div class="flex justify-center md:space-x-8 space-x-12 md:py-4 py-8">
        <a routerLink="/">
          <img src="assets/img_other/icon-linkedin.svg" alt="" class="h-8" />
        </a>
        <a routerLink="/">
          <img src="assets/img_other/icon-instagram.svg" alt="" class="h-8" />
        </a>
        <a routerLink="/">
          <img src="assets/img_other/icon-youtube.svg" alt="" class="h-8 md:mr-8" />
        </a>
      </div>
    </div>
    <div class="flex justify-around space-x-16 xl:space-x-36 lg:space-x-28 md:space-x-24">
      <div class="flex flex-col space-y-6">
        <a routerLink="/" class="hover:text-red-500">Home</a>
        <a routerLink="/" class="hover:text-red-500">Portfolio</a>
        <a routerLink="/" class="hover:text-red-500">Blog</a>
        <a routerLink="/" class="hover:text-red-500">Prints</a>
        <a routerLink="/" class="hover:text-red-500">About</a>
      </div>
      <div class="flex flex-col space-y-6">
        <a routerLink="/" class="hover:text-red-500">Licensing</a>
        <a routerLink="/" class="hover:text-red-500">Services</a>
        <a routerLink="/" class="hover:text-red-500">Privacy</a>
        <a routerLink="/" class="hover:text-red-500">Contact</a>
      </div>
    </div>
  </div>
</footer>