<div class={{wrapperDivClass}}>
  <div class="flex justify-center md:justify-end w-full lg:w-2/5 md:w-1/2">
    <div class="mx-0 my-8 md:mx-0 xs:mx-0 lg:mx-12">
      <img class="max-w-xs xl:max-w-sm rounded-lgshadow" src="/assets/img_other/photo-of-joshua-rose-in-Nepal.png" alt="photo of Josh Rose, site owner"/>
    </div>
  </div>
  <div class="w-full lg:w-3/5 md:w-1/2 px-8 py-4 md:pt-8 md:pr-20 lg:pr-28 text-sm sm:text-base xl:text-lg ">
    <p>
      Hello and thanks for stopping by! I hope you enjoy taking a look at this small fraction of photos that I've taken over the years. I bought my first point-and-shoot camera back in 2004 and I've been hooked ever since. Some of my best images have been taken with my cheapest and most pocket-friendly gear, so you'll rarely see me hyping up new, expensive camera bodies or pushing anyone to buy the latest and greatest. However, I might suggest investing in good quality prime lenses, even if they're 30+ years old. That old saying about the best camera being the one you take with you really is true. Just make sure you learn how to shoot and edit raw.
    </p>
    <br>
    <p>
      My intent with this site is to get my long-dormant photo collection some much needed attention and hopefully inspire some of you to share your work as well. I never was very good at reaching a significant audience through social media, and nowadays it doesn't seem as if many of those platforms are even meant for photography anyways. So, I figured I would make my own site for my images where I can show them in higher quality, not have to crop due to an unusual aspect ratio and where I'm not worried about some tech company randomly shutting down the site because of shifting corporate priorities. Feel free to reach out using one of my social links below. Take care.
    </p>
    <br>
    <p>
      -Josh
    </p>
  </div>
</div>