<div class="sticky-top bg-dark p-3">
    <h1 class="text-primary pb-1 text-center"><code>&#123; jrose.us &#125;</code></h1>
    <ul class="nav nav-fill nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href=""> <i class="bi bi-house-fill"></i> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Utils</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sounds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Discuss</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
    </ul>
  </div>