/* You can add global styles to this file, and also import other style files */
.main-wrapper {
    min-height: 100vh;  
}

.mw1400 {
    max-width: 1400px;
}

.mw-cont {
    max-width: fit-content;
}
// .mh25scroll {
//     max-height: 25vh;
//     overflow: auto;
// }

// .mh40scroll {
//     max-height: 40vh;
//     overflow: auto;
// }

// .mh60scroll {
//     max-height: 40vh;
//     overflow: auto;
// }